/*Universal Styles*/

html {
  font-size: 16px;
  font-family: Verdana;
}

.main-content {
  position: relative;
  padding-top: 4rem;
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

/*header*/

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  color: #484848;
  background-color: white;
}

header .navigation {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  height: 4rem;
}

header nav ul {
  display: flex;
}

header .logo {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo h4 {
  font-weight: bold;
}

.logo span {
  font-weight: lighter;
}

.logo img {
  height: 3rem;
}

nav li {
  padding: 0 1rem;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 560px){
  header .logo,
    .desktop-menu {
      display: none;
  }

  header .mobile-menu {
    display: block;
    width: 100%;
  }

  header .mobile-menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

/*Main content first-section*/

.first-section {
  background-color: #D3D3D3
}

.first-section img {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  margin: 2rem 0;
  margin-left: 1.5rem;
  margin-right: 2.5rem;
}

.side-text {
  display: inline-flex;
  flex-flow: column;
  vertical-align: middle;
  width: 30%;
}

.side-text h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  color: #404040;
}

.side-text h3 {
  font-size: 1rem;
  color: #404040;
  padding: 1.4rem 0;
}

.side-text h4 {
  background-color: #404040;
  color: white;
  padding: 0.7rem 0;
  text-align: center;
  font-size: 0.9rem;
  /*transition:*/
}

@media only screen and (max-width: 560px){
  .first-section {
    padding: 2rem 1rem;
  }

  .first-section img {
    display: none;
  }

  .side-text {
    width: 100%;
  }

  .side-text h4 {
    width: 80%;
    align-self: center;
  }
}

/*information section*/

.information {
  background-color: white;
}

.left-side {
  width: 60%;
  margin: 0 1.5rem;
}

.left-side img {
  width: 100%;
  margin: 2rem 0;

}

.left-side h1 {
  color: #404040;
  font-size: 2rem;
  font-weight: bold;
}

.left-side p {
  line-height: 1.4rem;
  font-size: 0.9rem;
  color: #808080;
}

.left-side h5 {
  font-size: 0.7rem;
  color: #404040
}

.right-side {
  display: flex;
  flex-flow: column;
  vertical-align: top;
  width: 40%;
  padding: 2rem 0;
}

.right-side img {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2rem;
}

.box .side-text {
  width: 56%;
  line-height: 1.2;
}

.side-text h2 {
  font-size: 1rem;
  color: #404040;
  font-weight: bold;
}

.side-text p
