/*Universal Styles*/

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.main-content {
  position: relative;
  padding-top: 4rem;
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}


/*header*/

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid #463163;
}

header .navigation {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  height: 4rem;
}

header nav ul {
  display: flex;
}

header .logo {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.4rem;
}

.logo span {
  font-weight: 700;
  color: #463163;
  line-height: 1;
}

.logo span:last-child {
  font-weight: 300;
  color: #463163;
}

.logo img {
  height: 3rem;
}

nav a {
  padding: 0 1rem;
  color: #463163;
  text-decoration: none;
}

nav a:hover {
  color: #AE77C4;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 698px){
  .logo span {
    display: none;
  }
}

@media only screen and (max-width: 560px){
  header .logo,
    .desktop-menu {
      display: none;
  }

  header .mobile-menu {
    display: block;
    width: 100%;
  }

  header .mobile-menu img {
    height: 2rem;
  }

  header .mobile-menu img:hover{
    height: 2.5rem;
  }

  header .mobile-menu ul{
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

/*Main content first-section*/

.first-section {
  background-color: #EEE8F2;
}

.first-section img {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  margin: 2rem 0;
  margin-left: 1.5rem;
  margin-right: 2.5rem;
}

.side {
  display: inline-flex;
  flex-flow: column;
  vertical-align: middle;
  width: 30%;
}

.side h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #463163;
}

.side h3 {
  font-size: 1rem;
  color: #463163;
  padding: 1.4rem 0;
}

.side h4 {
  background-color: #463163;
  color: white;
  padding: 0.7rem 0;
  text-align: center;
  font-size: 0.9rem;
}

.side h4:hover {
  background-color: #AE77C4;
}

@media only screen and (max-width: 825px){
  .first-section img {
    width: 45%;
  }
  .side {
    width: 40%;
  }
}

@media only screen and (max-width: 629px){
  .first-section {
    padding: 2rem 1rem;
  }

  .first-section img {
    display: none;
  }

  .side {
    width: 100%;
  }

  .side h4 {
    width: 80%;
    align-self: center;
  }
}

/*information section*/

.information {
  background-color: white;
}

.information .left-side {
  width: 60%;
  margin: 0 1.5rem;
}

.left-side img {
  width: 100%;
  margin: 2rem 0;
}

.left-side h1 {
  color: #463163;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.left-side p {
  line-height: 1.4rem;
  font-size: 0.9rem;
  color: #64327A;
  padding-bottom: 2.2rem;
}

.left-side h5 {
  font-size: 0.7rem;
  color: #64327A;
  padding-bottom: 2rem;
}

.information .right-side {
  display: flex;
  flex-flow: column;
  vertical-align: top;
  width: 35%;
  margin-top: 1.2rem;
}

.box .desktop {
  width: 35%;
  display: inline-block;
  vertical-align: middle;
  margin: 3.5%;
}

.box .mobile {
  display: none;
}

.side-text {
  display: inline-flex;
  flex-flow: column;
  vertical-align: middle;
}

.box .side-text {
  width: 56%;
  line-height: 2.5;
}

.side-text h2 {
  font-size: 1rem;
  color: #463163;
  font-weight: 700;
  line-height: 1.5;
}

.side-text p {
  font-size: 0.7rem;
  color: #64327A;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.side-text a {
  color: #A452C9;
  font-size: 0.7rem;
  margin-top: 0.2rem;
  font-weight: 300;
}

.information .box:last-child {
  background-color: #EEE8F2;
}

@media only screen and (max-width: 825px){
  .information .left-side {
    width: 45%;
  }
  .information .right-side{
    width: 45%;
  }
}

@media only screen and (max-width: 629px){

  .information .left-side {
    display: none;
  }

  .information .right-side{
    width: 100%;
  }

  .box {
    padding: 1rem 1rem 0 1rem;
  }

  .box .desktop {
    display: none;
  }

  .box .mobile {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }

  .box .side-text {
    width: 100%;
    padding: 1rem 0 0 1rem;
  }

  .information .box:last-child {
    background-color: white;
    padding-bottom: 1rem;
  }
}

/*learning*/

.learning {
  background-color: #EEE8F2;
}

.learning h1 {
  padding: 2rem;
  font-weight: 700;
  color: #463163;
  font-size: 2rem;
  text-align: center;
}

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 2rem;
}

.course-content {
  width: 25%;
  margin: 0 1rem 1rem 1rem;
}

.course-content img {
  width: 100%;
}

.course-text {
  background-color: white;
  padding: 1rem 0 0 1rem;
  height: 7rem;
}

.course-text h3 {
  color: #463163;
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 0.7rem;
}

.course-text p {
  color: #64327A;
  font-size: 0.7rem;
  padding-top: 0.3rem;
  line-height: 1.4;
}

@media only screen and (max-width: 825px){
  .course-content{
    width: 40%;
  }
}

@media only screen and (max-width: 560px){
  .learning {
    background-color: white;
  }
  .learning h1{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  .course-content img {
    display: none;
  }
  .course-text {
    height: 2rem;
    padding: 0 0 0.5rem;
  }
  .course-text p {
    display: none;
  }
  .course-content {
    width: 100%;
  }
  .course-text h3 {
    background-color: #EEE8F2;
    padding: 1rem;
  }
}

/*exhibit section*/

.exhibit {
  background-color: white;
}

.exhibit h1 {
  padding: 2rem;
  font-weight: 700;
  color: #463163;
  font-size: 2rem;
  text-align: center;
}

.exhibit .right-side {
  display: flex;
  flex-flow: column;
  vertical-align: top;
  width: 35%;
}

.exhibit .left-side {
  width: 60%;
  margin: 0 1.5rem;
}

.left-side video {
  width: 100%;
}

.left-side h3 {
  color: #463163;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.5rem 0;
}

.exhibit .box:first-child {
  background-color: #EEE8F2;
}

@media only screen and (max-width: 825px){
  .exhibit .left-side {
    width: 45%;
  }
  .exhibit .right-side{
    width: 45%;
  }
}

@media only screen and (max-width: 629px){
  .exhibit .right-side {
    display: none;
  }
  .exhibit .left-side {
    width: 100%;
    margin: auto;
  }
  .exhibit .left-side h3 {
    display: none;
  }
  .exhibit .left-side p {
    display: none;
  }
  .left-side video {
    padding-bottom: 1.5rem;
  }
}

/*footer*/

footer {
  border-top: 1px solid #463163;
  font-size: 0.7rem;
  color: #463163;
}

footer .navigation {
  display: flex;
  align-items: flex-start;
  padding: 1rem 1.5rem 2rem 1.5rem;
}

footer nav ul {
  display: flex;
}

footer .copyright {
  display: flex;
  align-items: flex-start;
  flex: 1;
}

@media only screen and (max-width: 560px){
  footer {
    border: none;
  }
  footer nav {
    display: none;
  }
  footer .navigation {
    padding: 0rem 1.5rem;
  }
  footer .copyright {
    align-items: baseline;
    padding: 1rem 0;

  }
}
